.navbar-inverse{
    background-color: orange;
}
.navbar-header{
    margin-top:-6px ;
}
.navbar-brand img{
    height: 50px;
    width: 100px;
}
.navbar-nav{
    padding:10px 10px 10px 0;
 }
.navbar-nav{
    font-family: Arial;
    font-size:15px;
    font-weight:bold;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
}
.carousel{
    margin-bottom: 15px;
}
.portfolio > .jumbotron{
    background-color: lightblue !important;
    border-radius: 15px;
}
.holiday{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.titles{
    font-size: 24px;
    color:maroon;
    font-weight: bold;
}
.col-md-4 p{
    text-align: justify;
    font-size: 16px;
    padding-top:10px;}
.tguide{
    padding-bottom: 30px;
}
.services{
    background-color: lightgreen;
    padding-bottom: 15px;
}
.fa{
    color:blue;
}
.services p{
    font-weight: bold;
}
.foot{
    background-color: black;
}
.foot .fa{
    color: white;
}
.foot h4{
    color: white;
    font-weight: bold;
}
.cnt{
    padding-bottom: 5px;
}
.icns{
    padding: 0;
}
hr{
    padding: 0;
    margin: 0 0 10px;
}
.ftsect{
    margin-bottom: 30px;
}
.bottom{
    background-color:gray ;
}
@media (max-width: 480px) {
    .navbar-toggle {
        margin-top: 15px;
    }

    .navbar-brand {
        margin-left: -12px;
    }

    .navbar-brand img {
        width: 40px;
        height: 30px;
    }

    .carousel-indicators {
        margin-bottom: -10px;
    }

    .carousel-caption h2 {
        font-size: 12px;
    }

    .carousel-caption p {
        font-size: 8px;
        margin-bottom: -15px;
    }

    .col-sm-4 img {
        width: 240px;
    }

    .col-sm-4 p {
        text-align: justify;
        font-size: 16px;
    }

    .services {
        padding: 0 10px;
    }
}